*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --img1: url('./img/divertidamente-2-espremidos.webp');
    --img2: url('./img/img2.webp')
}

body{
    /* Centralizar */
    height: 100vh;
    display: flex;
    justify-content: center; /* Centralizar no eixo x */
    align-items: center;    /* Centralizar no eixo y */
    background-image: var(--img1); /**/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trocar-imagem{
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer; /*Muda a cor na hora que clica no botão*/
    
}